@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

}
header {
    background: url(/apple-pie/images/apple-pie.jpg);
    height: 780px;
    background-size: cover;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 6rem;
    font-weight: 400;
}

h2 {
    margin: 2rem 0 1rem 0;
}

ul {
    padding: 0 1.5rem;
    list-style-type: '- ';
}

ol {
    padding: 0 1.5rem;
    counter-reset: my-counter;
    list-style: none;
  }
  ol li {
    counter-increment: my-counter;
  }

  ol li::before {
    content: counter(my-counter) ") ";
  }

.description {
    margin: 5rem;
}

#apple {    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#apple p {
    font-size: 24px;
    font-weight: 100;
    text-align: justify;
    line-height: 1.4;
}

#apple img {
    width: 400px;
    margin: 2rem auto;
}

hr {
    border: 1px solid #bfbfbf;
    width: 100%;
}

#ingredients {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

#ingredients h2 {
    font-size: 22px;
    font-weight: 500;
    margin: 2rem 0 1rem 0;

}

#ingredients img {
    width: 400px;
    margin: 2rem auto;
    align-self: center;

}

#ingredients li, #directions li {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.4;

}

#directions h2 {
    font-size: 22px;
    font-weight: 500;
    margin: 2rem 0;

}